{% extends "base.html" %} {% load static %} {% block page_content %}
<h1>
  Projects
</h1>
<div class="row">
  {% for project in projects %}
  <div class="col-md-4">
    <div class="card mb-2">
      <img src="{% static project.image%}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">
          {{ project.title }}
        </h5>
        <p class="card-text">
          {{ project.description }}
        </p>
        <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">
          Read More
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
